# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:


1. TensorFlow
2. NumPy
3. Keras
4. Pytorch
5. Matplotlib
6. Pandas
7. SciPy
8. SciKit-Learn

|Data Science Tools|
|---|
|TenserFlow|
|SAS|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objective:**


* List popular languages for Data Science
* List popular libraries for Data Science
* List of Well know Data Tools
* How to Provide comments in the cell

## Author
Van Anh Ngo